html {
  text-rendering: optimizeLegibility;
  -webkit-font-kerning: normal;
  -moz-font-kerning: normal;
  font-kerning: normal;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}





#manage,
#create {
  position: absolute;
  width: inherit;
}
#manage {
  display: none;
}

h1 {
  font-family: Oswald, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: -1px;
}

h2 {
  font-family: 'Playfair Display', serif;
}

h3 {
  font-family: Lato, sans-serif;
}

.btn-default {
  background-color: #f0ad4e;
  border-color: #eea236;
  color: #fff;
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #fff;
  background-color: #ec971f;
  border-color: #d58512;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #f0ad4e;
  border-color: #eea236;
}
.btn-default .badge {
  color: #f0ad4e;
  background-color: #fff;
}
